" ===
" === General
" ===
" Set Backspace mode
set bs=eol,start,indent

" row 5 content
set scrolloff=5

" Copy in system
set clipboard=unnamedplus

" Ignore case when searching
set ignorecase

" When searching try to be smart about cases
set smartcase

" Highlight search results
set hlsearch

" Makes search act like search in modern browsers
set incsearch

" Don't search again when both ends of the file are searched
set nowrapscan

" ===
" === Basic Mappings
" ===
" set <LEADER> as <SPACE>
let mapleader="\<Space>"

" disable the default s key
noremap s <nop>

" quick to exit insert mode
imap jk <ESC>

" make Y to copy till the end of the line
nnoremap Y y$

" copy to system clipboard
vnoremap Y "+y

" indentation
nnoremap < <<
nnoremap > >>

" cancel search highlight
noremap <LEADER><CR> :nohlsearch<CR>

" ===
" === Cursor Movement
" ===
" E/N keys for 5 times e/n (faster navigation)
noremap <silent> K 5k
noremap <silent> J 5j

" H key: go to the start of the line
noremap <silent> H 0
" I key: go to the end of the line
noremap <silent> L $

" faster in-line navigation
noremap W 5w
noremap B 5b
noremap E 5e
