" set <LEADER> as <SPACE>
let mapleader="\<Space>"

" disable the default s key
noremap s <nop>

" Save & quit
noremap Q :q<CR>
noremap <C-q> :qa<CR>
noremap S :w<CR>


" insert Key
noremap u i
noremap U I

" Undo operations
noremap l u

" make Y to copy till the end of the line
nnoremap Y y$

" copy to system clipboard
vnoremap Y "+y

" indentation
nnoremap < <<
nnoremap > >>

" search
nnoremap = n
nnoremap - N
noremap <LEADER><CR> :nohlsearch<CR>

" new cursor movement (the default arrow keys are used for resizing windows)
"noremap <silent> h h
noremap <silent> n j
noremap <silent> e k
noremap <silent> i l
noremap <silent> ge gk
noremap <silent> gn gj

" E/N keys for 5 times e/n (faster navigation)
noremap <silent> E 5k
noremap <silent> N 5j

" H key: go to the start of the line
noremap <silent> H 0
" I key: go to the end of the line
noremap <silent> I $

" faster in-line navigation
noremap W 5w
noremap B 5b

" set k (same as n, cursor left) to 'end of word'
noremap k e
