" Don't compatible vi
set nocompatible

" Show mode
set showmode

" Set Backspace mode
set bs=eol,start,indent

" row 5 content
set scrolloff=5

" Display relative line number
set relativenumber

" Copy in system
set clipboard=unnamed

" Ignore case when searching
set ignorecase

" When searching try to be smart about cases 
set smartcase

" Highlight search results
set hlsearch

" Makes search act like search in modern browsers
set incsearch 

" Key Mappings
" set <LEADER> as <SPACE>
let mapleader="\<Space>"

" kk to exit insert mode
inoremap kk <esc>

" disable the default s key
noremap s <nop>

" Save & quit
noremap Q :q<CR>
noremap <C-q> :qa<CR>
noremap S :w<CR>


" insert Key
noremap u i
noremap U I

" Undo operations
noremap l u

" make Y to copy till the end of the line
nnoremap Y y$

" copy to system clipboard
vnoremap Y "+y

" indentation
nnoremap < <<
nnoremap > >>

" search
nnoremap = n
nnoremap - N
noremap <LEADER><CR> :nohlsearch<CR>

"noremap <silent> h h
noremap <silent> n j
noremap <silent> e k
noremap <silent> i l
noremap <silent> ge gk
noremap <silent> gn gj

" E/N keys for 5 times e/n (faster navigation)
noremap <silent> E 5k
noremap <silent> N 5j

" H key: go to the start of the line
noremap <silent> H 0
" I key: go to the end of the line
noremap <silent> I $

" faster in-line navigation
noremap W 5w
noremap B 5b

" set k (same as n, cursor left) to 'end of word'
noremap k e
